attrs==19.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
google==2.0.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-search==1.0.2
httplib2==0.12.1
idna==2.8
jsonschema==3.0.1
kwconfig==1.1.7
lxml==4.6.2
numpy==1.16.2
oauthlib==3.0.1
pandas==0.24.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyodbc==4.0.26
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.9
regex==2019.3.12
requests==2.21.0
requests-file==1.4.3
requests-oauthlib==1.2.0
rsa==4.0
search-google==1.2.1
six==1.12.0
soupsieve==1.9
tldextract==2.2.1
twython==3.7.0
uritemplate==3.0.0
urllib3==1.24.2
urlopen==1.0.0
